@model IEnumerable<Product>

<a href="/Product/Create" class="btn btn-primary mb-3"><i class="bi bi-plus-circle"></i> Create New Mobile</a>

<form asp-action="Search" asp-controller="Product" class="d-flex">
    <input class="form-control me-sm-2" name="query" type="text" placeholder="Search" spellcheck="false" data-ms-editor="true">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                    <a href="/Product/Edit?id=@item.Id" class="btn btn-warning">Edit</a>
                    <a href="/Product/Delete?id=@item.Id" class="btn btn-danger">Delete</a>
                    <div class="card">
                        
                        <a href="/Product/Details?productId=@item.Id">
                            <img src="~/images/@item.Img"
                                 class="card-img-top" alt="Laptop" />
                        </a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="small"><a href="#!" class="text-muted">@item.Category.Name</a></p>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">@item.Name</h5>
                                <h5 class="text-dark mb-0">@item.Price</h5>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>